@model List<Emlak.Otomasyon.Model.Entity.Emlak>
@{
}

<div class="card">
    <div class="card-header">
        <a asp-action="Detail" class="btn btn-primary">Ekle</a>
    </div>
    <div class="card-body">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Başlık</th>
            <th scope="col">Emlak Tipi</th>
            <th scope="col">İlçe</th>
            <th scope="col">Şehir</th>
            <th scope="col">Alan</th>
            <th scope="col">Oda Sayısı</th>
            <th scope="col">Durum</th>
            <th scope="col">Fiyat</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <td><a asp-action="Detail" asp-route-id="@item.Id"> @item.Baslik</a></td>
                <td>@item.EmlakTipi</td>
                <td>@item.Ilce</td>
                <td>@item.Sehir</td>
                <td>@item.alan</td>
                <td>@item.odasayisi</td>
                <td>@item.durum</td>
                <td>@item.fiyat</td>
                <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a></td>
            </tr>
        }
        </tbody>
    </table>
    </div>
</div>